.dash-main{
display: flex;
}
p{
    color:blue
}

.top-bar{
    display: flex;
    padding: 0 30px;
    align-items:center;
    justify-content: space-between;
    background-color: #f2f2f2;

}
.admin-panel{
    display: flex;

    flex-direction: row;
    /* height: 100vh; */
}
.panel{
display: block;
width:20%;
}
.container-right{
    display: block;
    width:80%;  
    background-color: #eeeeee89;

}

.inner-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    height: 100vh;
    
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
}
.inner-container table{
    overflow-x: scroll;
    display: block;
    width: 100%;
    border:1px solid #bebebe;

}

.inner-container table td{
    width: 200px
}
.top-crumb{
    display: flex;
    padding: 10px;
    margin: 5px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
}
.m-0{
    margin: 0;
}
p{
    margin:0;
}
.panel span{
   display: flex;
   padding: 10px 10px;
   background-color: rgba(158, 89, 188, 0.48);
   opacity: .9;
   margin: 5px;
   cursor: pointer;
}

.panel span:hover{

    background-color: rgba(158, 89, 188, 0.702);
    opacity: 1;
    font-weight: bold;

 }